# Build output
Debug/

# CCS IDE
.clangd/
.settings/
.project
.cproject
targetConfigs/

# Python
__pycache__/
*.pyc

# Gesture detect
user/gesture_detect/taillight/
user/gesture_detect/build/
user/gesture_detect/image/
user/gesture_detect/error.log

# Videos
user/video/
